<main style="padding-top: 3rem;padding-bottom: 2rem">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.2s">
                <div class="card set cd1">
                    <div class="card-header text-center default-color-dark white-text">
                        check box
                    </div>
                    <div class="card-block">
                        <fieldset id="scheduler-border">
                            <legend id="scheduler-border">No of Employees</legend>
                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="">1</md-checkbox>
                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb6" class="">2</md-checkbox>
                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb7" class="">3</md-checkbox>
                        </fieldset>
                        <div>
                            <button class="btn btn-default" ng-click="export()">Export</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="star">
              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.star" class="">Select all</md-checkbox>  
            </div> -->
            <div co-md-9>
                <div class="wow fadeIn" data-wow-delay="0.2s">
                    
                    <div class="list-group content cd1">
                        <div class="list-group-item search-result" ng-repeat="(key, value) in companyArray">
                        <div class="check">
                        <input type="Checkbox" class="star" title="bookmark page" ng-model = "value.checklist" dataid="{{ key }}">
                            <!-- <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="companyDetail.checklist" class="check1"></md-checkbox> -->
                        </div>
                            <div class="flex-column" style="width: 30rem">
                                <table>
                                    <tbody>
                                        <p class="head">{{value.Name}}</p>
                                        <tr>
                                            <td style="width: 8rem"><strong>Industry</strong></td>
                                            <td> : {{value.industry}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8rem"><strong>Sub Industry</strong></td>
                                            <td> : {{value.subIndustry}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8rem"><strong>Company Type</strong></td>
                                            <td> : {{value.companyType}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8rem"><strong>Level Of Office</strong></td>
                                            <td> : {{value.levelOfOffice}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8rem"><strong>Location</strong></td>
                                            <td> : {{value.location}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8rem"><strong>Contact</strong></td>
                                            <td> : {{value.contact}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8rem"><strong>Email</strong></td>
                                            <td> : {{value.email}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right connect">
                                <button class="btn btn-default" ng-click="showAdvanced($event)">Connect</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer center-on-small-only">
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: xyz.com
        </div>
    </div>
</footer>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-block">
                <fieldset id="scheduler-border">
                    <legend id="scheduler-border">No of Employees</legend>
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">1</md-checkbox>
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb6" class="md-primary">2</md-checkbox>
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb7" class="md-primary">3</md-checkbox>
                </fieldset>
            </div>
        </div>
        <div class="col-md-9">
            <div class="list-group content">
                <div class="list-group-item list-group-item-action search-result" ng-repeat="companyDetail in companyDetails">
                    <div class="flex-column" style="width: 30rem">
                        <table>
                            <tbody>
                                <p class="head">{{companyDetail.Name}}</p>
                                <tr>
                                    <td style="width: 8rem"><strong>Industry</strong></td>
                                    <td> : {{companyDetail.industry}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 8rem"><strong>Sub Industry</strong></td>
                                    <td> : {{companyDetail.subIndustry}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 8rem"><strong>Company Type</strong></td>
                                    <td> : {{companyDetail.companyType}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 8rem"><strong>Level Of Office</strong></td>
                                    <td> : {{companyDetail.levelOfOffice}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 8rem"><strong>Location</strong></td>
                                    <td> : {{companyDetail.location}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 8rem"><strong>Contact</strong></td>
                                    <td> : {{companyDetail.contact}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 8rem"><strong>Email</strong></td>
                                    <td> : {{companyDetail.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right connect">
                        <button class="btn btn-primary" ng-click="showAdvanced($event)">Connect</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<footer style="background-color: #ccc;">
    <div layout="row" layout-align="center center">
        <h2>Contact Us</h2>
    </div>
</footer> -->
