<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: rgb(197,17,98)">
                <span flex></span>
                <!-- <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button> -->
                <button type="button" ng-click="cancel()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" flex>
                    <md-button ng-disabled="true"> Personalized Mail </md-button>
                    <md-button ng-click="getNumber(id)">Contact</md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>
