<!DOCTYPE html>
<html>
<head>
	<title></title>

<style type="text/css">
	
	.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    
}
.star:before {
   content: "\2606";
   position: absolute;
    visibility:visible;
}
.star:checked:before  {
   content: "\2605";
   position: absolute;
   visibility:visible;
   color: blue;
}

</style>	

<script src="jq.js"></script>

</head>
<body>

<input class="star" id="haha" type="checkbox" title="bookmark page"><br/><br/>


<script type="text/javascript">
	$('#haha').on('click',function(){console.log("haha");})

</script>
</body>
</html>